<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chorus</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/jazz.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/makePost.js"></script>
</head>
<!-- black bar at top with logo and chorus button linking to home !-->
<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center float-left">
        <img src="/img/chorus.png" id="logo" alt="logo">
        <strong class="logoWords">Chorus</strong>
      </a>
      {{!-- catalog button at top right linking to the catalog of posts --}}
      <a href='/api/catalog'> <button class="btn btn-success text-dark"><strong>Catalog</strong></button>
      </a>
      </button>
    </div>
  </div>
</header>

<body>
  </button>
</body>
<main>
  {{{ body }}}
</main>

</html>