<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chorus</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/jazz.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/makePost.js"></script>
</head>

<body>

<button id='newThreadBtn' class="btn btn-primary my-2">Create new Thread
</button>
</body>
<main>
  {{{ body }}}
</main>
</html>